@model TestProject.Contracts.Entities.CatalogItems

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CatalogItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-CatalogId="@Model.CatalogId" asp-route-ProductId="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
